<h1>Mostrando todos los movies</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">synopsis</th>
      <th scope="col">director</th>
    </tr>
  </thead>
  <tbody>
  <%= @Movie.each do |c| %>
    <tr>
      <th scope="row"><%="#{c.id}"%></th>
      <td><%= "#{c.name}"%></td>
      <td><%= "#{c.synopsis}"%></td>
      <td><%= "#{c.director}"%></td>
    </tr>
    <% end%> 
  </tbody>
</table>